table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  text-decoration: none; }

* {
  list-style-type: none; }

* {
  box-sizing: border-box; }

.nino-Mkhedruli {
  font-family: "BPG Nino Mkhedruli Book", sans-serif; }

.glaho {
  font-family: "BPG Glaho WEB Caps", sans-serif; }

html {
  scroll-behavior: smooth; }

header {
  height: 100px; }
  header img {
    width: 165px;
    color: #000000; }
  header .nav-item .nav-link {
    color: #000000 !important;
    font-size: 18pt; }
    header .nav-item .nav-link span {
      color: #B8EDF8; }

.bg-section {
  background-image: url(../images/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%; }
  .bg-section .text h1 {
    color: #FFFFFF;
    font-size: 40pt; }
  .bg-section h4 {
    color: #FFFFFF;
    font-size: 30pt; }

.icon-box {
  margin-top: 60px;
  margin-bottom: 60px; }
  .icon-box .header-text hr {
    border-top: 1px solid #000000;
    width: 93px;
    margin: 0 auto;
    margin-top: 24pt; }
  .icon-box .row-section {
    padding-top: 56px; }
    .icon-box .row-section .border-box {
      width: 100%;
      height: 100%; }
      .icon-box .row-section .border-box .inner-border-box {
        border: 1px solid #B2B2B2;
        padding: 30px; }
        .icon-box .row-section .border-box .inner-border-box hr {
          border-top: 2px solid #B8EDF8;
          width: 25px;
          margin: 0 auto;
          margin-top: 22px;
          margin-bottom: 41px; }
        .icon-box .row-section .border-box .inner-border-box h4 {
          font-size: 18pt;
          margin-bottom: 18px; }
        .icon-box .row-section .border-box .inner-border-box p {
          font-size: 16pt; }
      .icon-box .row-section .border-box img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 75px;
        margin: 0px !important; }

.bg-images {
  padding-top: 30px;
  padding-bottom: 30px; }
  .bg-images .row-images {
    padding-bottom: 30px; }
    .bg-images .row-images .box {
      margin-top: 30px; }
    .bg-images .row-images .main_image {
      position: relative;
      width: 100%;
      border: 2px solid #B8EDF8; }
      .bg-images .row-images .main_image .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #B8EDF8;
        z-index: 99999; }
        .bg-images .row-images .main_image .overlay .text-hover img {
          height: 29px;
          color: #FFFFFF;
          margin-bottom: 12px; }
        .bg-images .row-images .main_image .overlay h4 {
          font-size: 18pt !important;
          color: #FFFFFF !important; }
    .bg-images .row-images .main_image:hover .overlay {
      opacity: 0.9; }

.mbr-section {
  background-color: #F1F1F1; }
  .mbr-section .media-container-row {
    padding-top: 60px;
    padding-bottom: 70px; }
    .mbr-section .media-container-row img {
      position: relative;
      width: 100%;
      z-index: 999; }
    .mbr-section .media-container-row .blu-shadow {
      height: 100%;
      width: 100%;
      background-color: #B8EDF8;
      left: 30px;
      top: 30px; }
    .mbr-section .media-container-row .header-text .hr {
      border-top: 2px solid #000000;
      width: 93px;
      margin-top: 15px;
      margin-bottom: 56px; }
    .mbr-section .media-container-row .header-text p {
      font-size: 16pt; }

.form-section {
  background-color: #B8EDF8;
  height: 537px; }
  .form-section .form-box {
    width: 550px;
    height: 40px;
    margin-top: 60px; }
    .form-section .form-box input {
      padding: 12px;
      margin-bottom: 18px;
      border: 2px solid #333333;
      width: 100%;
      height: 100%; }
    .form-section .form-box textarea {
      padding: 12px;
      border: 2px solid #333333;
      box-sizing: border-box;
      resize: vertical;
      width: 100%;
      height: 100%; }
    .form-section .form-box .button {
      background-color: #FFFFFF;
      color: #B8EDF8;
      padding: 4px;
      border: 1px solid #7EC4CE;
      width: 80px;
      height: 30px;
      font-size: 14pt; }
  .form-section .button-box {
    padding-top: 14px; }
  .form-section .header-text {
    padding-top: 63px; }
    .form-section .header-text hr {
      border-top: 2px solid #000;
      width: 93px;
      margin: 0 auto;
      margin-top: 15px; }

.footer-section {
  background-color: #313332; }
  .footer-section .footer-box {
    padding-top: 30px;
    padding-bottom: 30px; }
    .footer-section .footer-box .footer-p {
      color: #FFFFFF;
      margin: 0px; }
    .footer-section .footer-box img {
      color: #FFFFFF;
      width: 165px; }
